.descriptionBlock {
  padding: 10px;
  position: relative;
  margin-top: -147px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bgImg img {
  width: 100%;
  height: auto;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px white solid;
}
