.container {
  padding: 20px;
  margin: 20px;
  display: flex;
}

.photoBox {
  position: relative;
  width: 100px;
  height: 100px;
}

.photoBox img {
  position: absolute;
  width: 100px;
  height: 100px;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
}

.infoBox {
  display: flex;
  border: 1px solid #c9b9b9;
  border-radius: 15px;
  width: 100%;
  margin-left: 20px;
  padding: 20px;
  background-color: #eafbf6;
}

.description {
  width: 83%;
}

.name {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.adress {
  width: 17%;
}

.follow {
  width: 100%;
  padding: 0.1em;
  margin-top: 5px;
  background-color: rgb(130, 175, 210);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.selectedPage {
  color: blue;
  font-size: 1.3em;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.buttonPage button {
  margin: 5px;
  background-color: rgb(130, 175, 210);
  border: none;
  padding: 5px;
  min-width: 40px;
}

.input {
  width: 50px;
  padding: 5px;
}

.buttonInput {
  margin: 5px;
  border-color: rgb(130, 175, 210);
  padding: 5px;
  min-width: 40px;
}
